@using GocServer.Application.DTOs.Entities.DeviceDto
@inject HttpClient HttpClient

<h3>DeviceTable</h3>

@code {
    public List<GetDeviceDto> _devices { get; set; } = new List<GetDeviceDto>();

    protected override async Task OnInitializedAsync()
    {
        _devices = await HttpClient.GetFromJsonAsync<List<GetDeviceDto>>("api/Devices/GetAll");
    }

}