@using GocServer.Application.DTOs.Entities.Get;
@inject HttpClient HttpClient

@page "/dashboard"


@if (_cities.Count > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Active</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < _cities.Count; i++)
            {
                <tr>
                    <th>@(i + 1)</th>
                    <td>@_cities[i].Name</td>
                    <td>@_cities[i].IsActive</td>
                </tr>
            }
        </tbody>
    </table>
}

else
{
    <h1>No Data</h1>
}






@code {
    private List<GetCityDto> _cities = new();

    protected override async Task OnInitializedAsync()
    {
        _cities = await HttpClient.GetFromJsonAsync<List<GetCityDto>>(Endpoints.GetAllCities);
    }
}
